In [1]:
import pandas as pd
#영도구 데이터
sahagu = pd.read_html('https://www.yeongdo.go.kr/00672/01898/00860.web', encoding='utf-8')
df1 = sahagu[1]
df0 = sahagu[0]
df2 = sahagu[2]

In [4]:
print(df0.info(),df1.info(),df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      13 non-null     int64
 1   품 명     13 non-null     object
 2   규 격     13 non-null     object
 3   수수료     13 non-null     int64
dtypes: int64(2), object(2)
memory usage: 548.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      54 non-null     int64
 1   품 명     54 non-null     object
 2   규 격     54 non-null     object
 3   수수료     54 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      75 non-null     int64
 1   품 명     75 non-null     object
 2   규 격     75 non-null     object
 3   수수료     75 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.5+ KB
None None None

In [3]:
df0.loc[:,'연번'] = '가전제품'
df0.to_csv('./data/가전제품.csv',index=False)

In [4]:
df1.loc[:,'연번'] = '가구류'
df1.to_csv('./data/가구류.csv',index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_12124\1957749570.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '가구류' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.loc[:,'연번'] = '가구류'

In [5]:
df2.loc[:,'연번']='생활용품 및 기타'
df2.to_csv('./data/생활용품 및 기타.csv',index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_12124\1710872297.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '생활용품 및 기타' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.loc[:,'연번']='생활용품 및 기타'